*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}

@keyframes fadingBackground {
    0% {
        background-color: #ff5733; /* Initial color */
    }
    100% {
        background-color: #33aaff; /* Final color */
    }
}

html,body{
    height: 100%;
    width: 100%;
    margin: 0;

}

body{
    animation: fadingBackground 5s infinite alternate;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    /* width: 50%;
    height: 50%;
    background-color: gray;
    padding-left:30px;
    padding-top: 50px;
    overflow: hidden;
    border-radius: 5%;
    position: relative; */
/* margin-top: 180px; */
width: 90%; /* Adjusted width for responsiveness */
    max-width: 600px; /* Added maximum width to ensure it doesn't get too wide on large screens */
    background-color: gray;
    padding: 30px; /* Combined padding into a shorthand property */
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;

}
.main .btn{
    /* margin-top: 20px;
    position: absolute;
    left: 45%;
    background-color: #FFD700;
    padding: 5px;
    border: none;
    border-radius: 5px;
    transition: all 0s ease;
    cursor: pointer; */

    margin-top: 20px;
    width: 100%; /* Make button width 100% of its container */
    max-width: 150px; /* Added maximum width to prevent button from stretching too much */
    background-color: #FFD700;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease; /* Added transition for smoother animation */
    cursor: pointer;
}

@media (max-width: 768px) {
    .main {
        width: 95%; /* Adjusted width for smaller screens */
    }
}

.btn:hover {
    transform: rotate(360deg);
    transform: scale(1.01);
  }